.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/20191209_bedrocan_gen_filtered.map
data/20191209_bedrocan_gen_filtered.ped
data/20191209_bedrocan_gen_filtered.nosex
data/20191209_bedrocan_gen_filtered_pruned.raw
data/20191209_bedrocan_gen_filtered.mdist
data/20191209_bedrocan_gen_filtered.mdist.id
data/20191209_bedrocan_gen_filtered.genome
data/20191209_bedrocan_gen_filtered.hmp.txt
data/202008011_bedrocan_gen_filtered.raw
data/2020080607_bedro_kinship.txt
outputs/gwas_pvals_mlmm_norm.csv
outputs/gwas_pvals_emmax_norm.csv
outputs/gwas_pvals_mlmm.csv
outputs/gwas_pvals_emmax.csv
figures/gwas/mlmm_results_norm.pdf
figures/gwas/mlmm_results.pdf